<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <span>Holy Walk-A-Mole</span>
    </a>
</nav>


<div class="container-fluid">
    <div class="row">

        <nav class="col-md-2 bg-light sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active">
                        <i class="fas fa-user"></i>
                        User Profile
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="authService.signOut()">
                        <i class="fas fa-sign-out-alt"></i>
                        Log out
                    </a>
                </li>
            </ul>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">

                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome, {{ authService.userData.displayName }}</h1>
                </div>
            </div>
        </main>

    </div>
</div>
