<div class="container-fluid">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Holy Walkamole</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">Fremont Sai Center</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
    
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Holy Walkamole</h1>
            <p class="lead">"Man needs a healthy body for a healthy mind, filled with good thoughts"</p>
            <p class="lead"><i>- Bhagawan Sri Sathya Sai Baba</i></p>
            <hr class="my-4">
            <p> We are walking 96,000 km collectively by Bhagawan Sri Sathya Sai Baba's 96th birthday. Sign Up to join the walk. </p>
            <button class="btn btn-primary" type="button">Sign Up</button>
            <p> Login to update your daily distance and view current stats</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal">
                Sign In
            </button>
        </div>
    </div>

    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</div>

